<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <style>
        body {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

        form {
            text-align: center;
        }
    </style>
</head>
<body>
<h3>Edit your profile</h3>
<form action="/profile/edit" method="post">
    <label for="email">Email</label><br>
    <input type="email" name="email" id="email" value="{{.User.Email}}" required disabled="{{.User.IsGoogleAccount}}" />

    <br>

    <label for="fullName">FullName</label><br>
    <input type="text" name="fullName" id="fullName" value="{{.User.FullName}}"/>

    <br>

    <label for="address">Address</label><br>
    <input type="text" name="address" id="address" value="{{.User.Address}}"/>

    <br>

    <label for="telephone">Telephone</label><br>
    <input type="tel" name="telephone" id="telephone" value="{{.User.Telephone}}" />

    <br><br>

    <button>Save & Continue</button>

    <br><br>

    <a href="/profile">Cancel</a>

    <br><br>

    {{if .FlashMessages}}
        <ul>
            {{range .FlashMessages}}
                <li>{{.FlashMessages}}</li>
            {{end}}
        </ul>
    {{end}}
</form>
</body>
</html>