<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <style>
        body {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

        form {
            text-align: center;
        }
    </style>
</head>
<body>
<h3>Forgot Password</h3>
<form action="/forgot-password" method="post">
    <label for="email">Email</label><br>
    <input type="email" name="email" id="email" required />

    <br><br>

    <button>Send Reset Link</button>

    <br><br>
    <a href="/login">Back to Login</a>

    <br><br>

    {{if .FlashMessages}}
        <ul>
            {{range .FlashMessages}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    {{end}}
</form>
</body>
</html>