<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        body {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

        form {
            text-align: center;
        }
    </style>
</head>
<body>
<h3>Login</h3>
<form action="/login" method="post">
    <label for="email">Email</label><br>
    <input type="email" name="email" id="email" required />

    <br>

    <label for="password">Password</label><br>
    <input type="password" name="password" id="password" required />

    <br><br>

    <button>Login</button>
    <br><br>
    <a href="/auth/google">Login using Google</a>

    <br><br>
    <a href="/signup">New User Sign-Up</a> | <a href="/forgot-password">Forgot Password</a>

    <br><br>

    {{if .FlashMessages}}
        <ul>
            {{range .FlashMessages}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    {{end}}
</form>
</body>
</html>