<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <style>
        body {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<body>
<h3>Your Profile</h3>
<div>
    <p><b>Email</b>: {{.Email}}</p>
    <br />

    <p><b>FullName:</b> {{if .FullName}}{{.FullName}}{{else}}not set yet.{{end}}</p>
    <br />

    <p><b>Address:</b> {{if .Address}}{{.Address}}{{else}}not set yet.{{end}}</p>
    <br />

    <p><b>Telephone:</b> {{if .Telephone}}{{.Telephone}}{{else}}not set yet.{{end}}</p>
    <br /><br/>

    <a href="/profile/edit">Edit</a> | <a href="/logout">Logout</a>
</div>
</body>
</html>