<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <style>
        body {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

        form {
            text-align: center;
        }
    </style>
</head>
<body>
<h3>Reset Password</h3>
<form action="/reset-password" method="post">
    <label for="password">New Password</label><br>
    <input type="password" name="password" id="password" required />

    <input type="hidden" name="token" value="{{.Token}}" />
    <br><br>

    <button>Reset</button>

    <br><br>

    {{if .FlashMessages}}
        <ul>
            {{range .FlashMessages}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    {{end}}
</form>
</body>
</html>