<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User Sign-Up</title>
    <style>
        body {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

        form {
            text-align: center;
        }
    </style>
</head>
<body>
<h3>New User Sign-Up</h3>
<form action="/signup" method="post">
    <label for="email">Email</label><br>
    <input type="email" name="email" id="email" required />

    <br>

    <label for="password">Password</label><br>
    <input type="password" name="password" id="password" required />

    <br>

    <label for="passwordConfirmation">Password Confirmation</label><br>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation" required />

    <br><br>

    <button>Sign-Up</button>
    <br><br>
    <a href="/auth/google">Sign-Up using Google</a>

    <br><br>
    <a href="/login">Existing User Login</a>

    <br><br>

    {{if .FlashMessages}}
        <ul>
            {{range .FlashMessages}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    {{end}}
</form>
</body>
</html>